.border{
    border:black solid;

}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}

.gridArea{
    display: grid;
    /*Nombrar areas*/
    grid-template-areas:
    /*Estructura*/
    "menu cabeza cabeza"
    "menu productos lateral"
    "menu servicios lateral"
    "menu pie pie"
     ;
     grid-template-columns: 15% auto 15%;
     grid-template-rows:1fr 2fr 2fr 1fr ;
     grid-column-gap: 10px ;
     grid-row-gap: 10px ;
}

/*Nombrando areas*/
header{
    grid-area: cabeza;
}

footer{
    grid-area: pie;
}

#productos{
    grid-area: productos;
}

#servicios{
    grid-area: servicios;
}
nav{
    grid-area: menu;
}
aside{
    grid-area: lateral;
}

/* Para hacer responsive mi web lo que tengo que hacer
es poner @media (min-width: 481px) and (max-width: 1023px)
para tablet, y dentro del media poner los cambios a realizar.

tablet @media (min-width: 481px) and (max-width: 1023px)
celular @media(max-width:480px)
*/
@media (max-width:500px){
    body {
        background-image: linear-gradient(blue, red);
    }
}

@media (min-width: 501px) and (max-width: 1023px){
    body {
        background-image: url(http://placedog.net/600);
    }
}